<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="IEEMA" connectionString="Data Source=43.255.152.25;Initial Catalog=DistribuelecMay22Blr;Persist Security Info=True;User ID=DistribuelecMay22Blr;Password=DistribuelecMay22Blr@673939;Max Pool Size=5000;Pooling=True;"  providerName="System.Data.SqlClient"/>-->
    <add name="IEEMA" connectionString="Data Source=43.255.152.25;Initial Catalog=GarmentShowOfIndia22Del;Persist Security Info=True;User ID=GarmentShowOfIndia22Del;Password=GarmentShowOfIndia22Del@790765;Max Pool Size=5000;Pooling=True;"  providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <!--<add key="FromEmail" value="ebadge@e-badge.in"/>-->
    <add key="emailLogin" value="ebadge@e-badge.in"/>
    <add key="emailPassword" value="Vss@1234"/>
  </appSettings>
</configuration>
